In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [2]:
iris_data = pd.read_csv('/data/iris.csv')
iris_data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
x = iris_data.drop(columns=['variety'])
y = iris_data['variety']

In [4]:
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
y.head()

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [15]:
model = LogisticRegression()

In [ ]:
model.fit(x_train_scaled, y_train)

In [ ]:
y_predictions = model.predict(x_test_scaled)
accuracy = accuracy_score(y_test, y_predictions)
print("Accuracy: ", accuracy)

In [ ]:
new_data = np.array([[5.1, 3.5, 1.4, 0.2], [6.3, 2.9, 5.6, 1.8], [4.9, 3.0, 1.4, 0.2]])
new_data_scaled = scaler.transform(new_data)

In [ ]:
predictions = model.predict(new_data_scaled)
print(predictions)